<div class="container-fluid g-0">

  <!-- HEADER -->
  <app-header></app-header>

  <!-- MAIN CONTENT -->
  <main class="black-borde">

    <!-- TOOBAR TO ADD AND SEARCH GROCERY -->
    <div class="toolbar">

      <div class="add-grocery">
        <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal"
          data-bs-target="#exampleModal" #addGroceryButton>Add Grocery</button>
      </div>

      <div class="search-grocery">
        <input type="search" class="form-control" placeholder="Search Grocery"
          (input)="searchGrocery(searchInput.value)" #searchInput>
      </div>

    </div>

    <!-- AREA TO DISPLAY ALL THE GROCERY -->
    <div class="grocery">

      <div class="row mt-5" *ngIf="grocery.length == 0">
        <div class="col text-center">
          <span class="text-secondary fs-2 fw-bold fst-italic">There are No Grocery Added!</span>
        </div>
      </div>

      <div class="row mt-4" *ngFor="let grocery of groceryToDisplay; let ei = index;">
        <div class="col">
          <app-grocery [grocery]="grocery" (onRemoveGrocery)="removeGrocery($event)"
            (onEditGrocery)="editGrocery($event)"></app-grocery>
        </div>
      </div>

    </div>
  </main>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter Grocery Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="groceryForm">

          <!-- FIRST AND LAST NAME -->
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="item" formControlName="item">
            </div>
            <div class="col">
              <input type="number" class="form-control" placeholder="amount" formControlName="amount">
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addGrocery()">Insert</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>